////////////// Color Palette///////////////
$base-color: #000000;
$dark-blue: #14213d;
$yellow: #fca311;
$grey: #e5e5e5;
$white: #ffffff;

.btn-light {
  background-color: $grey;
  padding: 1rem 2rem;
}
