<nav id="navbar">
  <div class="nav-container">
    <div class="nav-item">
      <ul class="nav-ul">
        <li>
          <a href="">Sports</a>
        </li>
        <li>
          <a href="">News</a>
        </li>
        <li>
          <a href="">Entertainment</a>
        </li>
      </ul>
    </div>
    <div class="nav-item">
      <div id="nav-logo">viewed<span>It</span></div>
    </div>
    <div class="nav-item">
      <ul class="nav-ul">
        <li>
          <a href="">History</a>
        </li>
        <li>
          <a href="">Favorites</a>
        </li>
        <li>
          <a href="/user/login">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
