<header>
  <nav id="navbar">
    <div class="nav-container">
      <div class="nav-item">
        <ul class="nav-ul">
          <li>
            <a href="">Sports</a>
          </li>
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Entertainment</a>
          </li>
        </ul>
      </div>
      <div class="nav-logo">
        <a href="/app/index"
          ><div id="nav-logo">viewed<span>It</span></div></a
        >
      </div>
      <div class="nav-item">
        <ul class="nav-ul">
          <li>
            <a href="">History</a>
          </li>
          <li>
            <a href="">Favorites</a>
          </li>
          <li>
            <a href="/user/login">Account</a>
          </li>
        </ul>
      </div>
      <div class="hamburger">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </div>
  </nav>
</header>
