:root {
  --red-salsa: rgb(249, 65, 68);
  --yellow-orange: rgb(248, 150, 30);
  --queen-blue: rgb(87, 117, 144);
  --zomp: rgb(67, 170, 139);
  --orange-red: rgb(243, 114, 44);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "STIX Two Math", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Header */
.app-name {
  background-color: var(--queen-blue);
  color: var(--yellow-orange);
  height: 3.5rem;
  font-size: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  margin-left: 1rem;
}

.logo i {
  font-size: 2rem;
  padding-top: 0.5rem;
}

/* Search section */
.search-flex {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.search-flex select {
  font-size: 1rem;
  padding: 4px;
  outline: 1px solid var(--zomp);
  border: 1px solid var(--zomp);
  width: 20%;
}

.search-flex select:focus {
  border: 1px solid var(--yellow-orange);
  outline: 1px solid var(--yellow-orange);
}

.flex-group {
  width: 50%;
}
.flex-group input {
  font-size: 1rem;
  padding: 4px;
  outline: 2px solid var(--zomp);
  border: 2px solid var(--zomp);
  width: 100%;
}

.flex-group input:focus {
  border: 2px solid var(--yellow-orange);
  outline: 2px solid var(--yellow-orange);
}

.flex-group input::placeholder {
  font-size: 0.85rem;
}

/* search Button */
.search-btn {
  background-color: var(--zomp);
  color: white;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: calc(100% - 1rem);
  transition: all 0.5s;
  z-index: 2;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 auto;
}

.search-btn:hover {
  background-color: var(--yellow-orange);
}

.search-btn:active {
  transform: scale(0.98);
}

/* Feed */
.post {
  display: flex;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--queen-blue);
  border-radius: 5px;
  background-color: rgba(87, 117, 144, 0.1);
  position: relative;
}

.post img {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 5px;
}

.post p {
  margin-left: 0.5rem;
}

/* Messages */
.error {
  border: 1px solid var(--red-salsa);
  color: var(--red-salsa);
  background-color: rgba(255, 0, 51, 0.2);
  width: 90%;
  text-align: center;
  margin: 0.5rem auto 0 auto;
  padding: 3px;
}

/* Utility */
.loading {
  border: 2px solid var(--queen-blue);
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin: 6rem auto;
}
