<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/landing.css" />
    <title>viewedIt</title>
  </head>
  <body>
    <section id="landing">
      <div class="flex-item">
        <div id="landing-content">
          <div>
            <p id="logo">viewed<span>It</span></p>
          </div>
          <div class="landing-statements">
            <p><span>Catch the news...</span></p>
            <p><span>See what others are talking about...</span></p>
            <p>
              <span
                >Sports, pop-culture, politics, entertainment, scandal...</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="flex-item" id="landing-form">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          dolor cumque minima mollitia animi reiciendis odit ullam numquam,
          temporibus esse!
        </p>
      </div>
    </section>
  </body>
</html>
