* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Sans-serif";
}

.btn-light {
  background-color: #e5e5e5;
  color: #14213d;
  padding: 0.75rem 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #14213d;
  font-size: 1rem;
}
.btn-light .btn-light:visited {
  color: #14213d;
}

.btn-dark {
  background-color: #14213d;
  color: #e5e5e5;
  padding: 0.75rem 2rem;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}
.btn-dark:visited {
  color: #e5e5e5;
}

.form-group .form-label {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}
.form-group input {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.error {
  background-color: #ffcccb;
  color: #cc0000;
  border: 1px solid #cc0000;
  margin: 0.2rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.success {
  background-color: #c4ffc4;
  color: #008000;
  border: 1px solid #008000;
  margin: 0.2rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

a {
  font-weight: bold;
}

#landing {
  color: #14213d;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing .flex-item {
  width: 50%;
}
#landing .flex-item #landing-content {
  margin-left: 4rem;
}
#landing .flex-item #landing-content #logo {
  font-size: 4rem;
  color: #ffffff;
  background-color: #14213d;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-bottom: 1rem;
}
#landing .flex-item #landing-content #logo span {
  color: #14213d;
  background-color: #ffffff;
}
#landing .flex-item #landing-content .landing-statements {
  font-size: 2rem;
}
#landing .flex-item #landing-content .landing-statements p {
  margin-bottom: 1.5rem;
}
#landing .flex-item #landing-content .landing-statements p span {
  border-bottom: 0.25rem dotted #fca311;
}
#landing #landing-form {
  height: 100vh;
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
}
#landing #landing-form form {
  background-color: #e5e5e5;
  padding: 1rem;
  border-radius: 10px;
}
#landing #landing-form form h2 {
  margin-bottom: 1rem;
}
#landing #landing-form form .tos {
  margin: 0rem 2rem 1rem 2rem;
}
#landing #landing-form form .tos input {
  width: fit-content;
  margin-right: 1rem;
}

@media screen and (max-width: 1100px) {
  #landing {
    flex-direction: column;
  }
  #landing .flex-item {
    width: 100%;
  }
  #landing .flex-item #landing-content {
    margin: 0 0.5rem;
    text-align: center;
  }
  #landing .flex-item #landing-content #logo {
    margin: 0.5rem auto;
  }
  #landing #landing-form {
    height: fit-content;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 650px) {
  #landing-body #landing #landing-content #logo {
    font-size: 3rem;
  }
  #landing-body #landing #landing-content .landing-statements {
    font-size: 1.5rem;
  }
  #landing-body #landing #landing-content .landing-statements p {
    margin-bottom: 0.75rem;
  }
}
#login-body {
  background-color: #14213d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-body .login-form {
  color: #14213d;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  width: 40%;
  min-width: 370px;
}
#login-body .login-form .form-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#login-body .login-form .form-title #logo {
  background-color: #14213d;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  display: inline;
}
#login-body .login-form .form-title #logo span {
  background-color: #ffffff;
  color: #14213d;
}

@media screen and (max-width: 380px) {
  #login-body .login-form {
    padding: 0.5rem;
    max-width: 360px;
  }
  #login-body .login-form .form-title {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
