@use "../components/utilclasses";
@use "../theme/colors" as colors;
@use "../typography/text";

#login-body {
  background-color: colors.$base-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    color: colors.$base-color;
    background-color: colors.$white;
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    min-width: 370px;

    .form-title {
      font-size: 2rem;
      margin-bottom: 0.5rem;

      #logo {
        background-color: colors.$base-color;
        color: colors.$white;
        padding: 0.25rem 0.5rem;
        display: inline;

        span {
          background-color: colors.$white;
          color: colors.$base-color;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  #login-body {
    .login-form {
      padding: 0.5rem;
      max-width: 360px;

      .form-title {
        font-size: 2rem;
      }
    }
  }
}
