@use "../util.scss";

////////// Reset ////////////
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: util.$base-color;
  color: util.$white;
}

.btn-light {
  background-color: util.$grey;
  padding: 1rem 2rem;
  cursor: pointer;
}

#landing {
  color: util.$white;
  height: 100vh;
  display: flex;
  flex-basis: 0;
  justify-content: center;
  align-items: center;

  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem;
    width: 50%;
  }
}

///////////// Landing content /////////////////
#landing-content {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #logo {
    color: util.$yellow;
    margin-bottom: 3rem;
    font-size: 3.5rem;

    span {
      color: util.$white;
    }
  }

  .landing-statements {
    line-height: 1.5;
    span {
      border-bottom: 2px dotted util.$yellow;
      padding-bottom: 10px;
    }
  }
}

////////////////////// Landing Form /////////////////////
#landing-form {
  background-color: util.$grey;
  color: util.$dark-blue;
  border-radius: 10px;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  form {
    font-size: 1.5rem;
    .user-input {
      font-size: 1rem;
      padding: 10px 10px;
      outline: none;
      border: 1px solid util.$dark-blue;
      width: 100%;
      border-radius: 5px;
    }

    .form-label {
      margin-bottom: 0.25rem;
    }

    .register-select {
      margin: 1rem 3rem;
      font-size: 1rem;
      color: util.$dark-blue;
    }

    button {
      color: util.$dark-blue;
      padding: 1rem 2rem;

      &:hover {
        cursor: pointer;
      }
    }
    a {
      background-color: util.$dark-blue;
      color: util.$grey;
      padding: 1rem 2rem;
      text-align: center;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

///////////// Responsiveness /////////////////////
@media only screen and (max-width: 1024px) {
  #landing {
    flex-direction: column;
    margin: 0;
    height: 150vh;

    .flex-item {
      width: 100%;
      margin: 0;
    }

    #landing-content {
      font-size: 1.5rem;

      #logo {
        margin-bottom: 0.5rem;
        font-size: 3rem;
      }
    }
  }
  #landing-form {
    border-radius: 0px;
    h2 {
      margin-bottom: 0.5rem;
    }

    form {
      .register-select {
        margin: 1rem 0.5rem;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #landing {
    flex-direction: column;
    margin: 0;
    height: fit-content;

    #register-submit {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
    }

    #login {
      display: block;
    }
  }
}

@media only screen and (max-height: 500px) {
  #landing {
    height: fit-content;
  }
}
