@use "../util.scss";

////////// Reset ////////////
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: util.$base-color;
}

#landing {
  color: util.$white;
  height: 100vh;
  display: flex;
  flex-basis: 0;
  justify-content: center;
  align-items: center;

  .flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    margin: 3rem 1rem 3rem 1rem;
    padding: 1rem;
    width: 50%;
  }
}

#landing-content {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #logo {
    color: util.$yellow;
    margin-bottom: 3rem;
    font-size: 3.5rem;

    span {
      color: util.$white;
    }
  }

  .landing-statements {
    line-height: 1.5;
    span {
      border-bottom: 2px dotted util.$yellow;
      padding-bottom: 10px;
    }
  }
}

// html {
//   background: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60")
//     no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
