////////////// Color Palette///////////////
$base-color: #14213d;
$black: #000000;
$yellow: #fca311;
$grey: #e5e5e5;
$white: #ffffff;
$error: #cc0000;
$error-light: #ffcccb;
$success: #008000;
$success-light: #c4ffc4;
$dark-gradient: linear-gradient(45deg, #14213d, #000000);
